@{ 
    string a = "@saroo004";
}

<head>
    <link href="~/Content/footer.css" rel="stylesheet" />
</head>
    <div class="footer">
        <div class="footer-container">
            <h4>liên kết hợp tác</h4>
            <ul class="footer-wrapper">
                <li class="footer-a"><a href="">believe</a></li>
                <li class="footer-a"><a href="">monstercat</a></li>
                <li class="footer-a"><a href="">acrcloud</a></li>
                <li class="footer-a"><a href="">sonymusic</a></li>
            </ul>

            <ul class="footer-wrapper-1 ">
                <li class="footer-a-0 mobile-footer">
                    <h4>Hỗ trợ</h4>
                    <ul class="hotro">
                        <li class="hotro"><a class="size" href="">Trợ giúp</a></li>
                        <li class="hotro"><a class="size" href="">Chính sách bảo mật</a></li>
                        <li class="hotro"><a class="size" href="">Thỏa thuận sử dụng</a></li>
                        <li class="hotro"><a class="size" href="">Liên hệ</a></li>
                    </ul>

                </li>
                <li class="footer-a-0 mobile-footer-1">
                    <h4>Kết nối với chúng tôi</h4>
                    <ul class="hotro">
                        <li class="hotro"><a class="size" href="https://www.facebook.com/profile.php?id=100005544678147">Facebook</a></li>
                        <li class="hotro"><a class="size" href="https://www.tiktok.com/@a">Tiktok</a></li>
                        <li class="hotro"><a class="size" href="">Zalo</a></li>
                        <li class="hotro"><a class="size" href="">CH Play</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="footer-wrapper-2">
                <li style="font-size:xx-large;">Công ty cổ phần Music cloud</li>
                <li>Giấy phép MXH số 000/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 28/09/2022.</li>
                <li>Giấy Chứng nhận Đăng ký Kinh doanh số 0158521254 do Sở kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 01/03/2022.</li>
            </ul>
        </div>
    </div>
    <div class="footer-1">
        <ul class="footer-1-wrapper">
            <li class=""><a href="">Chung cư An Lộc 2, Quận 2, Tp.Hồ Chí Minh</a></li>
            <li class=""><a href="">musiccloud@email.com</a></li>
            <li class=""><a href="">Hotline: 0942809417</a></li>
        </ul>
    </div>
