body{
    color:white;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.boc {
    display: flex;
    background: #1d012f;
    margin: 50px 100px;
    border-radius: 15px;
}

.music {
    width: 500px;
    margin: 50px 0;
    border-radius: 10px;
    /* background: #1d012f; */
    padding: 35px 0;
}

.music-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

    .music-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }

.music-name {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.caNhan_ns {
    margin: 20px auto;
}

    .caNhan_ns .tt_caNhan {
        margin-top: 5px;
    }

        .caNhan_ns .tt_caNhan li {
            margin-top: 5px;
        }

        .caNhan_ns .tt_caNhan span {
            color: #1b9fe6;
        }

.thongtin_ns {
    margin: 50px 10px;
    width: auto;
}

    .thongtin_ns .GT_name {
        margin: 20px 0;
    }

.music-name h5 {
    font-weight: 500;
}

.music h3 {
    font-size: 20px;
}

.thoigian {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
}

/* playlist */
.playlist {
    margin: 50px auto;
}

.container {
}

.playlist_wrapper h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 164px;
    font-size: 15px;
}

.playlist_wrapper .menu_song {
    margin: 30px 150px;
}

.playlist_wrapper .playlist_oveflow {
}

    .playlist_wrapper .playlist_oveflow::-webkit-scrollbar {
        width: 6px;
    }

    .playlist_wrapper .playlist_oveflow::-webkit-scrollbar-thumb {
        background-color: #1b9fe6;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }

.playlist_wrapper .menu_song li {
    list-style-type: none;
    position: relative;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s linear;
}

    .playlist_wrapper .menu_song li span {
        font-size: 15px;
        font-weight: 600;
        color: cadetblue;
        margin-left: 5px;
    }

    .playlist_wrapper .menu_song li:hover {
        background: linear-gradient(to right, #520c7d, #1b9fe6);
        border-radius: 15px;
    }

    .playlist_wrapper .menu_song li img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-left: 25px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }

    .playlist_wrapper .menu_song li h5 {
        font-size: 17px;
        margin-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .playlist_wrapper .menu_song li h5 a {
            text-decoration: none;
        }

        .playlist_wrapper .menu_song li h5 .wrapper {
            padding-top: 5px;
        }

        .playlist_wrapper .menu_song li h5 .song_name_ns {
            font-size: 14px;
            color: rgb(88, 144, 146);
        }

        .playlist_wrapper .menu_song li h5 a:hover {
            font-size: 17px;
            color: rgb(29, 210, 216);
        }

.playlist_wrapper .menu_song .aa .fa-regular {
    position: absolute;
    right: 15px;
    font-size: 25px;
    top: 18px;
    color: #ffff;
}
