
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/thongTin.css" rel="stylesheet" />
    <link rel="icon" href="~/Image/logo.png" type="image/x-icon" />
    <title>Music cloud</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="wrapper">
                <div class="app-content">
                    <ul class="tabs">
                        <li data-target="#content_1">
                            <p>Giới thiệu</p>
                        </li>
                        <li data-target="#content_2">
                            <p>Liên hệ</p>
                        </li>
                    </ul>
                    <div>
                        <div class="tab-content active" id="content_1">
                            <div class="container_gt">
                                <div class="name">
                                    Được khai sinh vào ngày 9/9/2022, Music cloud là dịch vụ nghe nhạc miễn phí được
                                    yêu thích nhất Việt Nam hiện nay. Với nhiều tính năng hữu ích giúp người nghe
                                    luôn có trải nghiệm âm nhạc tuyệt vời và xuyên suốt trên các thiết bị của mình
                                    (từ PC, điện thoại, máy tính bảng đến Smart TV). Music cloud mang đến cho
                                    yêu nhạc thư viện nhạc khổng lồ với hàng chục triệu bài hát chất lượng cao có
                                    bản quyền đầy đủ tất cả các thể loại và được cập nhật liên tục nội dung mới nhất
                                    mỗi ngày. Thành viên của Music cloud có thể tự tổ chức thư viện nhạc cá nhân cho
                                    riêng mình, lưu trữ kho nhạc của mình và tạo
                                    playlist để nghe và chia sẻ cho bạn bè rất dễ dàng.
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="content_2">
                            <div class="container_lh">
                                <div class="name">
                                    <h4>LIÊN HỆ VỚI CHUNG TÔI</h4>
                                    <p>
                                        Chúng tôi luôn ghi nhận các đóng góp ý kiến của bạn để cải tiến và nâng
                                        sản phẩm ngày một hoàn thiện và hữu ích hơn. Đừng ngại chia sẻ
                                        ý tưởng cho chúng tôi.
                                    </p>
                                    <h5>
                                        Hotline: 0962875555
                                    </h5>
                                    <h5>
                                        Basis: Công Ty Music cloud, Chung cư An Lộc 2, Quận 2, thành phố Hồ Chí Minh, Việt Nam
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/Scripts/thongTin.js"></script>
</body>
</html>
