
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/vip.css" rel="stylesheet" />
    <link rel="icon" href="~/Image/logo.png" type="image/x-icon" />
    <title>Music cloud</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="logo">
                <img src="~/Image/congdanh.jpg">
                <img src="~/Image/lecaoanhkiet.jpg">
                <img src="~/Image/congho.jpg">
            </div>
            <div class="container_wrapper">
                <div class="name">
                    <h1>Music cloud</h1>
                    <p>Dịch vụ nghe nhạc Online chất lượng cao, kết hợp cùng các tiện ích dành riêng cho thành viên VIP</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="products">
                    <h1 class="vip">VIP</h1>
                    <div class="name">
                        <h2>1 THÁNG</h2>
                        <div class="number">
                            <span><h1>59</h1></span>
                            <span><h3>.000<br>VNĐ</h3></span>
                        </div>
                        <h3 class="sale">89.000VNĐ</h3>
                    </div>
                    <div class="button">
                        <a href=""><button>Mua VIP</button></a>
                    </div>
                </div>
                <div class="products">
                    <h1 class="vip">VIP</h1>
                    <div class="name">
                        <h2>6 THÁNG</h2>
                        <div class="number">
                            <span><h1>299</h1></span>
                            <span><h3>.000<br>VNĐ</h3></span>
                        </div>
                        <h3 class="sale">499.000VNĐ</h3>
                    </div>
                    <div class="button">
                        <a href=""><button>Mua VIP</button></a>
                    </div>
                </div>
                <div class="products">
                    <h1 class="vip">VIP</h1>
                    <div class="name">
                        <h2>1 NĂM</h2>
                        <div class="number">
                            <span><h1>599</h1></span>
                            <span><h3>.000<br>VNĐ</h3></span>
                        </div>
                        <h3 class="sale">
                            799.000VNĐ
                        </h3>
                    </div>
                    <div class="button">
                        <a href=""><button>Mua VIP</button></a>
                    </div>
                </div>
                <div class="products">
                    <h1 class="vip">VIP</h1>
                    <div class="name">
                        <h2>2 NĂM</h2>
                        <div class="number">
                            <span><h1>999</h1></span>
                            <span><h3>.000<br>VNĐ</h3></span>
                        </div>
                        <h3 class="sale">1.500.000VNĐ</h3>
                    </div>
                    <div class="button">
                        <a href=""><button>Mua VIP</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container_wrapper">
                <div class="name">
                    <h1>Chất lượng</h1>
                    <p>Bài hát có chất lượng lossless sẽ giúp bạn có trải nghiệm nghe nhạc trong thính phòng tại nhà.</p>
                </div>
                <div class="name">
                    <h1>Nội dung</h1>
                    <p>Liên tục cập nhật các album và bài hát mới nhất trên thị trường âm nhạc trong và ngoài nước.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
